
@import './plugin/variables.postcss';
@import './plugin/mixin.postcss';

.test {
  width: 750px;
  color: $warning;
  height: 64px;
  transform: translateX(-12PX);
  line-height: 40px;
  border: 1px solid #ddd;
  .ts{
    color: red;
  }
  @mixin font-dpr 24px;
}
